.comment-form-container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px;
}

.comment-form {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-form > input {
    border: 1px solid lightgray;
    margin-right: 10px;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    width: 350px;
    height: 25px;
}


.comment-message-header-top {
    display: flex;
    align-items: center;
    width: 160px;
    column-gap: 2.5px;
}

.comment-message-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid black; */
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
}

.comment-message-contents > .comment-message {
    margin-top: 10px;
    font-size: 14px;
}

.comment-header-info {
    display: flex;
    justify-content: space-between;
}

.comment-message-header-top > p, .comment-message-header-bottom > p {
    color: gray;
    font-size: 13px;
    padding-top: 4px;
}

.comment-contents {
    display: flex;
    margin-top: 10px;
}

.comment-contents > .profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-radius: 50px;
    width: 60px;
    height: 50px;
}

.comments > .post-actions-modal {
    margin-top: 25px;
    width: 140px;
    height: 45px;
}

.comments > .post-actions-modal > .edit-post-action {
    font-size: 12px;
}

.comments > .post-actions-modal > .delete-post-action {
    font-size: 12px;
}

.comment-message > .comment-form {
    width: 400px;
}

.comment-message .create-post-form > input {
    background: transparent;
    width: 405px;
    margin-left: -5px;
}


.update-comment-btns {
    display: flex;
    margin-left: -10px;
    padding-top: 10px;
}