.comment-form-container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px;
}

.comment-form {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-form > input {
    border: 1px solid lightgray;
    margin-right: 10px;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    width: 350px;
    height: 25px;
}


.comment-message-header-top {
    display: flex;
    align-items: center;
    width: 160px;
    column-gap: 2.5px;
}

.comment-message-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid black; */
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 420px;
    padding: 10px;
}

.comment-message-contents > .comment-message {
    margin-top: 10px;
    font-size: 14px;
}

.comment-header-info {
    display: flex;
    /* justify-content: space-between; */
}

.comment-message-header-top > p, .comment-message-header-bottom > p {
    color: gray;
    font-size: 13px;
    padding-top: 4px;
}

.comment-contents {
    display: flex;
    margin-top: 10px;
}

.comment-contents > .profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-radius: 50px;
    width: 60px;
    height: 50px;
}

.comments > .post-actions-modal {
    margin-top: 25px;
    width: 160px;
    height: 45px;
}

.comments > .post-actions-modal > .edit-post-action {
    padding: 4px;
    font-size: 13px;
    column-gap: 4px;
}

.comments > .post-actions-modal > .delete-post-action {
    padding: 4px;
    font-size: 13px;
    column-gap: 2px;
}

.comment-message > .comment-form {
    width: 400px;
}

.comment-message .create-post-form > input {
    background: transparent;
    width: 405px;
    margin-left: -5px;
}


.update-comment-btns {
    display: flex;
    margin-left: -10px;
    padding-top: 10px;
}

.cancel-update-post {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 6px 12px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 28px;
    font-weight: 600;
    margin-left: 10px;
}

.cancel-update-post:hover {
    cursor: pointer;
}

#comment-user-headline {
    padding: 0px;
}

#comment-user-name {
    font-size: 16px;
    font-weight: 500;
    padding: 4px;
    color: black;
}

#comment-user-pronouns {
    display: flex;
    align-items: center;
    padding: 0px;
}

#comment-author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px 2px 4px;
    background-color: #576879;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.comment-message-header-top > #comment-user-name {
    display: inline-block;
    white-space: nowrap;
    padding: 0px;
    /* width: 300px; */
}

#comment-message-header-top-container {
    width: 95%;
}

.comment-responses {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 12px;
    column-gap: 8px;
}

#comment-like:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-like, .comment-like-contents {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.comment-like-contents {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.comment-liked {
    color: #0b66c2;
}

#comment-user-image > img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

#comment-form-user-image > img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-left: -4px;
}