#pending-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pending-modal {
    position: fixed;
    margin-top: -150px;
    margin-left: -70px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    z-index: 15;
}

#pending-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pending-modal-title {
    font-size: 20px;
    font-weight: 500;
}

#close-pending-modal {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#close-pending-modal:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#pending-modal-separator {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#pending-modal-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

#pending-modal-cancel, #pending-modal-withdraw {
    padding: 6px 16px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid;
    border-radius: 28px;
}

#pending-modal-cancel {
    border-color: gray;
    color: gray;
}

#pending-modal-cancel:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 100ms;
    cursor: pointer;
}

#pending-modal-withdraw {
    background-color: rgb(11,101,194);
    color: white;
}

#pending-modal-withdraw:hover {
    background-color: rgb(9, 88, 168);
    transition: 100ms;
    cursor: pointer;
}

#pending-modal-body {
    padding-top: 20px;
    padding-bottom: 20px;
}