#sort-modal {
    position: absolute;
    left: 855px;
    top: 180px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    padding: 6px;
    width: 100px;
}

#recent, #top {
    font-weight: 500;
    font-size: 14px;
    color: #00000099;
    display: flex;
    width: 100%;
    height: 50%;
}

#recent:hover, #top:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#recent {
    padding-bottom: 4px;
}