.splash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b66c2 ;
    height: 12vh;
    width: 100vw;
}

.header-links {
    display: flex;
    column-gap: 0.5rem;
    width: 20vw;
}

.header-logo {
    display: flex;
    width: 25vw;
}