#experiences-container {
    width: 708px;
    /* height: 300px; */
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 20px;
    margin-left: -10px;
}

.experiences-title {
    font-size: 24px;
    font-weight: 500;
}

#experiences-header {
    display: flex;
    justify-content: space-between;
}

.experience-actions {
    display: flex;
} 

.experience-action {
    padding: 8px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.7);
}

.experience-action:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.company-photo > img {
    width: 60px;
    height: 60px;
}

.experience-item {
    display: flex;
    column-gap: 10px;
}

.experience-item-contents {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#company-title {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 4px;
}

#employment-type, #job-title, #employment-duration, #employment-location {
    font-size: 14px;
}

#employment-duration, #employment-location {
    color: gray;
    padding-bottom: 4px;
}

#job {
    display: flex;
    padding-bottom: 4px;
    /* column-gap: 6px; */
}

#job-separator {
    /* background-color: red; */
    margin-top: -4px;
    padding-left: 3px;
    padding-right: 3px;
}

#employment-duration {
    display: flex;
}

#employment-duration-separator {
    padding-left: 4px;
    padding-right: 4px;
}

#experiences-separator {
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
}

.experience-item > p {
    padding-top: 4px;
    padding-bottom: 4px;
}

.company-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-item-header {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

.create-icon-div {
    color: rgba(0, 0, 0, 0.7);
}

.create-icon-div:hover {
    cursor: pointer;
    color: black;
}

.create-experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-experience-title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}

.input-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.input-field-name {
    padding-bottom: 4px;
}

.input-field > input, .input-field > select {
    /* max-width: 300px; */
    padding: 6px 10px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.input-field-name {
    color: gray;
    font-size: 14px;
}

.create-experience-container {
    background-color: white;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(40%, 10%);
}

#create-exp-divider {
    border-bottom: 1px solid lightgray;
    width: 740px;
    margin-left: -20px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}

#input-field-required {
    font-size: 12px;
    padding-bottom: 20px;
}

.submit-experience {
    display: flex;
    justify-content: flex-end;
}

.submit-experience-btn {
    padding: 6px 16px;
    color: white;
    font-weight: 600;
    background-color: #0a66c2;
    border-radius: 28px;
    font-size: 16px;
    border-style: none;
}

.submit-experience-btn:hover {
    cursor:pointer;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 6px;
    color: rgba(0, 0, 0, 0.7);
}

.close:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#first-child {
    padding-top: 20px;
}

#experience-actions-modal {
    margin-left: -170px;
    margin-top: -10px;
}

#education-item > #education-photo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#education-grade {
    font-size: 14px;
    color: black;
}