.splash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0b66c2 ; */
    height: 12vh;
    width: 100vw;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 3rem;
    column-gap: 0.5rem;
    width: 20vw;
}

.header-links a {
    text-decoration: none;
}

.header-logo {
    display: flex;
    width: 25vw;
}

.login-btn {
    color: #0b66c2;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    text-align: center;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    padding: 12px 24px 12px 24px;
}

.signup-btn {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    text-align: center;
    font-weight: 600;
    border-radius: 28px;
    padding: 12px 24px 12px 24px;
}

.signup-btn {
    color: rgba(0, 0, 0, 0.75);
    position: relative;
    padding: 16px;
    text-align: center;
    font-weight: 600;
}

.signup-btn:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.login-btn:hover {
    background-color: rgba(10, 102, 194, 0.15);
}