.splash-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0b66c2 ; */
    height: 50px;
    width: 100vw;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 5px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 3rem;
    column-gap: 0.5rem;
    width: 20vw;
}

.header-links a {
    text-decoration: none;
}

.header-logo {
    display: flex;
}

.login-btn {
    color: #0b66c2;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    text-align: center;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    padding: 12px 24px 12px 24px;
}

.signup-btn {
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px;
    text-align: center;
    font-weight: 600;
    border-radius: 28px;
    padding: 12px 24px 12px 24px;
}

.signup-btn {
    color: rgba(0, 0, 0, 0.75);
    position: relative;
    padding: 16px;
    text-align: center;
    font-weight: 600;
}

.signup-btn:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.login-btn:hover {
    background-color: rgba(10, 102, 194, 0.15);
}

#home-link, #network-link, #profile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

#home-link > p, #network-link > p, #profile-link > p {
    padding: 3px;
    font-size: 12.5px;
    color: gray;
}

#home-link > *:hover {
    color: rgba(0, 0, 0, 1);
}

.fa-header-link {
    color: rgba(0, 0, 0, 0.7);
}

#splash-header-left {
    display: flex;
    align-items: center;
}


.search-container {
    background-color: rgba(217, 217, 214, 0.6);
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 6px;
}

.search-container input {
    background-color: rgba(217, 217, 214, 0);
    border: none;
    padding: 5px;
    height: 25px;
}

.search-container input:focus {
    outline: none;
}


.search-container > .fa-header-link {
    font-size: 20px;
    padding-left: 10px;
}

.splash-header-contents {
    min-width: 1165px;
    width: 1165px;
    display: flex;
    justify-content: space-between;
}