.sidebar {
    top: 85px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar-bottom {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}


.sidebar-top > img {
    margin-bottom: -10px;
    height: 70px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sidebar-stats {
    width: 95.25%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-stats-top, .sidebar-stats-bottom {
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    width: 96%;
    border-radius: 10px;
}

.sidebar-stats-top:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-stat-number {
    font-weight: bold;
    color: #0a66c2;
}

.demo-location, .demo-profession {
    color: gray;
    font-size: 14px;
}

.demo-name {
    font-size: 16px;
    font-weight: 500;
}

.tags {
    list-style: none;
    row-gap: 10px;
}

.tags li {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: gray;
    font-weight: 500;
}

.tags li:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
    color: black;
}

.sidebar-hashtag-logo {
    font-size: 16px;
    font-weight: 500;
}

.user-details > p {
    padding: 4px;
}

.sidebar-divider-container {
    display: flex;
    justify-content: center;
    padding: 6px;
}

.sidebar-divider {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 5px;
}

.aa {
    color: rgba(0, 0, 0, 0.7);
}

#sidebar-user-img > img {
    background-color: #e7e2dc;
    border: 1px solid lightgray;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-top: -30px;
}

#sidebar-user-img > img:hover {
    cursor: pointer;
}

#sidebar-hashtag {
    text-decoration: none;
}