.session-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.session-form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
}