.session-form-container {
    display: flex;
    height: 60vh;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 400px;
    margin: 0 auto;
    margin-top: 6%;
    background-color: white;
    border-radius: 10px;
}

.session-form-container form {
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    max-width: 60vw;
    padding: 20px;
    width: 100%;
}

.session-form-container input {
    width: 320px;
    height: 40px;
    max-width: 300px;
    margin: 12px;
}

.signup-form-fields {
    margin-left: 10px;
}

.homepage-slogan {
    flex-wrap: nowrap;
}

.submit, .demo-btn {
    background-color: #0b66c2;
    color: white;
    border-radius: 28px;
    cursor: pointer;
    padding: 12px 24px 12px 24px;
    width: 300px;
    font-size: 16px;
    margin-top: 12px;
    border: 0;
}


.homepage-left-container .session-form-container {
    position:absolute;
    box-shadow: none;
    margin: 0;
}

.homepage-left-container .session-form-container input {
    width: 300px;
}

/* .form-body {
    background-color: #f3f2ef; 
    /* height: 100vh;
    width: 100vw; */
    /* width: 300px; */
    /* overflow: hidden;
} */

.form-body {
    margin-top: 80px;
}

.signup-form-fields {
    margin-left: -2rem;
    padding-left: 0;
}

.form-body-container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-now-link {
    text-decoration: none;
    font-weight: 600;
    color: #0b66c2;
}

.login-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    column-gap: 6px;
}

#signup-body-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-body-container {
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-header {
    /* margin-top: 30px; */
    /* margin-bottom: -30px; */
    font-size: 32px;
    font-weight: 400;
}

#user-signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

/* #session-form-container {
    height: 40vh;
} */

#signup-form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

#user-login-logo {
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: 500;
}

#user-login-info {
    font-size: 14px;
    /* font-weight: 500; */
}

#user-login-header {
    padding-left: 45px;
    width: 100%;
}