.session-form-container {
    display: flex;
    height: 50vh;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 20rem;
    margin: 0 auto;
    margin-top: 6%;
}

.session-form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 60vw;
    padding: 20px;
}

.session-form-container input {
    width: 80%;
    height: 2.5rem;
    margin: 12px;
}


.homepage-slogan {
    flex-wrap: nowrap;
}

.submit {
    background-color: #0b66c2;
    color: white;
    border-radius: 28px;
    cursor: pointer;
    padding: 12px 24px 12px 24px;
    width: 20vw;
    font-size: 1rem;
    margin-top: 12px;
    border: 0;
}


.homepage-left-container .session-form-container {
    position:absolute;
    box-shadow: none;
}

.homepage-left-container .session-form-container form {
    margin-left: 0;
}

.homepage-left-container .session-form-container input {
    width: 100%;
}

.form-body {
    /* background-color: #f3f2ef; */
    height: 100vh;
}
