.user-container {
    display: grid;
    grid-template-columns: 750px 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    column-gap: 30px;
    margin-top: 20px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -34px;
}

.user-intro {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding-left: 7px;
}

.user-intro > img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: fill;
    padding-left: 0px;
    padding-right: 0px;
}

.user-intro-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.user-intro-contents {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    height: 110px;
    padding: 10px;
    margin-top: -6px;
}

.user-profile-icon {
    font-size: 1000px;
}

.user-intro-headline {
    font-size: 16px;
}

.user-intro-location {
    font-size: 14px;
    color: gray;
}

.user-intro-name {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
}

.user-intro-actions {
    display: flex;
    column-gap: 8px;
    margin-left: -4px;
}

#add-profile-section, #user-more-section {
    padding: 6px 16px;
    color: white;
    background-color: #0a66c2;
    font-weight: 500;
    border-radius: 30px;
    border: none;
}

#user-more-section {
    color: #0a66c2;
    background-color: white;
    border: 1px solid #0a66c2;
}

#add-profile-section:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#user-more-section:hover {
    background-color: rgba(11,102,194, 0.2);
    cursor: pointer;
}

.user-intro-pronouns {
    color: gray;
    font-size: 14px;
    margin-top: 3px;
}

.user-connection-count {
    display: flex;
    color: #0a66c2;
    column-gap: 6px;
    font-size: 14px;
    padding: 6px 0px;
    font-weight: 600;
}

.user-connection-count:hover {
    cursor: pointer;
    text-decoration: underline;
}

.user-profile-photo {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    margin-left: 6px;
    border: 1px solid lightgray;
    background-color: #e7e2dc;
}

.user-profile-photo:hover {
    cursor: pointer;
}

.user-profile-photo > img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 100px;
}

.user-intro-contents-container {
    display: flex;
    justify-content: space-between;
}

.user-intro-info {
    margin-left: 8px;
    margin-top: 12px;
}

.user-education-photo {
    width: 50px;
    height: 50px;
}

.user-intro-education {
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 6px;
    margin-top: -110px;
    margin-right: 70px;
}

.school-name {
    font-size: 14px;
    font-weight: 500;
}

.other-users {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 560px;
}

#user-intro {
    height: 400px;
}

.profile-action-modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    z-index: 4;
}

.profile-action {
    column-gap: 8px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    border-radius: 10px;
    padding: 4px;
}

.profile-action:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#edit-about-modal {
    height: 220px;
}

.user-edit-name {
    display: flex;
    width: 100%;
}

#edit-user {
    padding: 12px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    font-size: 18px;
}

#edit-user:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#create-post-modal-footer {
    padding-top: 38%;
}

.other-user-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
}

.other-user-img {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    background-color: #e7e2dc;
    border: 0.5px solid lightgray;
}

.other-user-img > img {
    object-fit: cover;
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.other-user-img:hover {
    cursor: pointer;
}

.other-user-contents {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.other-user-name {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.other-user-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.other-user-headline {
    font-size: 14px;
    color: gray;
    padding-bottom: 10px;
}

.connect {
    padding: 6px 16px;
    background-color: white;
    color: #0a66c2;
    border: 1px solid #0a66c2;
    border-radius: 28px;
}

.connect:hover {
    cursor: pointer;
    background-color: rgba(11,102,194, 0.2);
}

#other-users-logo {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
}

.other-user-name-contents {
    display: flex;
    column-gap: 4px;
}

.other-user-pronouns {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
}

/* .other-user-pronouns-container {
    display: flex;
    align-items: center;
} */