.post-option {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.photo-icon {
    color: #70B5F9;
}

.video-icon {
    color: #E7A33E;
}

.event-icon {
    color: #C0CBCD;
}

.article-icon {
    color: #7FC15E;
}

.option {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.option > p {
    font-size: 13px;
    color: gray;
    padding-left: 8px;
    padding-right: 8px;
}

.post-form-content {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
}

.post-form-container {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    color: gray;
    padding: 10px;
    width: 100%;
}

.post-form {
    display: flex;
    width: 100%;
}

.post-form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    font-weight: 600;
    outline-width: 0;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 11px;
    padding: 10px;
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.post-header {
    display: flex;
    margin-bottom: 10px;
}

.post-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.post-header-info > p {
    font-size: 13px;
    color: gray;
}

.post-body {
    padding: 12px;
    margin-top: -10px;
}

.post-btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: -5px;
}

.post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: gray;
}

.post-btn > p {
    font-size: 13px;
    margin-left: 6px;
}

.post-btn-liked {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #0b66c2;
}

.post-btn-divider {
    border-top: 1px solid lightgray;
    width: 100%;
}

.post-actions {
    display: flex;
    color: gray;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-top: -5px;
}

.post-actions:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.post-actions-modal {
    background-color: white;
    margin-left: 315px;
    margin-top: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.edit-post-action, .delete-post-action {
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 90%;
    border-radius: 10px;
    padding: 6px 10px;
    column-gap: 4px;
}

.edit-post-action > p, .delete-post-action > p {
    margin-left: 4px;
}

.edit-post-action:hover, .delete-post-action:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.post-btn {
    border-radius: 10px;
    font-weight: 600;
    width: 45%;
}

.post-btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.create-post-modal {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: fixed;
    width: 520px;
    height: 290px;
    margin-left: -25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 5;
}

#overlay {
    width: 101vw;
    height: 101vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    top: 0;
    left: 0;
    position: fixed;
}

.post-form-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.post-form-placeholder {
    font-size: 14px;
    font-weight: 500;
    padding-left: 6px;
}

.post-form {
    display: flex;
    align-items: center;
}

.create-post-modal-header-divider {
    border-top: 1px solid lightgray;
}

.create-post-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.create-post-user-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.create-post-user-header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px;
}

.create-post-user-header > p {
    font-size: 13px;
    color: gray;
}

.create-post-form {
    display: flex;
    flex-direction: column;
}

.create-post-form > input {
    margin-left: 15px;
    width: 460px;
    padding-bottom: 100px;
    border: none;
}

.create-post-form > input:focus {
    outline: none;
}

.create-post-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.create-post-btn {
    background-color: #0b66c2;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    text-align: center;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
}

.close-create-post-modal {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 20px;
    padding: 6px;
}

.close-create-post-modal:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.comment-container {
    margin-top: 5px;
}

.likes-comments-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
    padding-bottom: 6px;
}

/* .likes-comments-info > p {
    font-size: 14px;
} */

#poster-name {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-right: 4px;
    /* padding-bottom: 4px;  */
}

#poster-profession {
    font-size: 14px;
    padding-top: 4px;
}

#poster-info {
    display: flex;
}

#poster-pronouns {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
}

.post-actions-modal {
    width: 172px;
}

#post-form-separator-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#post-form-separator {
    width: 78%;
    border-top: 1.5px solid rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    padding-bottom: 4px;
}

#selected-sort {
    font-weight: 600;
    color: black;
    width: 30%;
}

#selected-sort:hover {
    cursor: pointer;
}

.comments-count:hover, .likes-count:hover {
    color: rgba(0, 0, 0, 0.67);
    text-decoration: underline;
    cursor: pointer;
}

.likes-count-liked {
    color: #0b66c2;
}

.likes-count-liked:hover {
    color: #0b66c2;
}

#post-img > img {
    width: 518px;
    height: 240px;
    object-fit: cover;
    margin-left: -10px;
    margin-bottom: 8px;
}

#post-user-image > img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.post-form-input {
    display: flex;
    column-gap: 10px;
    width: 100%;
}

#create-post-pen {
    display: flex;
    align-items: center;
    padding: 4px;
}

#post-actions-toggler {
    font-size: 20px;
    padding: 4px;
}

#fa-thumbs-up, #fa-comment {
    font-size: 18px;
}

#post-user-image:hover, #poster-name:hover {
    cursor: pointer;
}

#sort-by {
    font-size: 12px;
    color: #00000099;
    display: inline-block;
}

/* #separator-container {
    display: flex;
    align-items: center;
} */

#dropdown-arrow {
    font-size: 20px;
    display: flex;
    align-items: center;
}