.post-option {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.photo-icon {
    color: #70B5F9;
}

.video-icon {
    color: #E7A33E;
}

.event-icon {
    color: #C0CBCD;
}

.article-icon {
    color: #7FC15E;
}

.option {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.option > p {
    font-size: 13px;
    color: gray;
    padding-left: 8px;
    padding-right: 8px;
}

.post-form-content {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.post-form-container {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    color: gray;
    padding: 10px;
}

.post-form {
    display: flex;
    width: 100%;
}

.post-form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    font-weight: 600;
    outline-width: 0;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.post-header {
    display: flex;
    margin-bottom: 10px;
}

.post-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.post-header-info > p {
    font-size: 13px;
    color: gray;
}

.post-body {
    padding: 12px;
}

.post-btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: -5px;
}

.post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: gray;
}

.post-btn > p {
    font-size: 13px;
    margin-left: 6px;
}

.post-btn-divider {
    border-top: 1px solid lightgray;
    width: 100%;
}

.post-actions {
    display: flex;
    color: gray;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-top: -5px;
}

.post-actions:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.post-actions-modal {
    background-color: white;
    margin-left: 315px;
    margin-top: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.edit-post-action, .delete-post-action {
    display: flex;
    color: rgba(0, 0, 0, 0.75);
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
}

.edit-post-action > p, .delete-post-action > p {
    margin-left: 4px;
}

.edit-post-action:hover, .delete-post-action:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.post-btn {
    border-radius: 10px;
    font-weight: 600;
    width: 45%;
}

.post-btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.create-post-modal {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: absolute;
    width: 520px;
    height: 290px;
    margin-left: -20px;
    margin-top: -20px;
}

.create-post-modal-header-divider {
    border-top: 1px solid lightgray;
}

.create-post-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.create-post-user-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.create-post-user-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.create-post-user-header > p {
    font-size: 13px;
    color: gray;
}

.create-post-form {
    display: flex;
    flex-direction: column;
}

.create-post-form > input {
    margin-left: 15px;
    width: 460px;
    padding-bottom: 100px;
    border: none;
}

.create-post-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.create-post-btn {
    background-color: #0b66c2;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    text-align: center;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
}

.close-create-post-modal {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.close-create-post-modal:hover {
    background-color: whitesmoke;
    cursor: pointer;
}