.widgets-top, .widgets-bottom {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    width: 240px;
}

.widgets-para {
    font-size: 14px;
    line-height: 20px;
    color: gray;
}

.widgets-headline {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6px;
}

.technologies-used {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
}

.widgets {
    position: sticky;
    top: 85px;
    flex: 0.2;
    height: fit-content;
    bottom: 500px;
}


.technology {
    display: flex;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

.tech-role {
    padding-right: 10px;
}

.widgets-top-a {
    margin-bottom: 10px;
}

.widgets-developer-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.widgets-developer-header > div {
    margin-right: 10px;
}

.widget-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    column-gap: 15px;
}

.project-description {
    margin-bottom: 10px;
}

.font-awesome-icon {
    font-size: 28px;
    color: black;
}

.fa {
    text-decoration: none;
}

.technology-a {
    display: flex;
    align-items: center;
}

.tech-role {
    padding-left: 5px;
}

.font-awesome-icon-a {
    font-size: 22px;
}

.tech-stack {
    display: flex;
    align-items: center;
    color: gray;
}

.fa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-container > p {
    font-size: 12px;
    color: gray;
}

#fa-react {
    color: #61dafb;
}

#fa-ruby {
    color: #d20102;
}

#fa-linkedin {
    color: #0b66c2;
}

#fa-briefcase {
    color: #e64818;
}

/* #fa-postgresql {
    color: #32648b;
} */

